body {
	background-image: url(../img/bg.png);
}

.top {
	width: 100%;
	height: 321px;
	background-image: url(../img/top.png);
	background-position: center;
	background-repeat: no-repeat;
}

.center {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	
}

.icon {
	width: 1020;
	height: 467;
	position: absolute;
	top: 50%;
	left: 12%;
	margin: -10px 0 0 0;
}

.icon_1 {
	float: left;
	width: 380px;
	height: 467px;
	background-image: url(../img/icon_1.png);
	background-repeat: no-repeat;
}

.icon_2 {
	float: left;
	width: 310px;
	height: 467px;
	background-image: url(../img/icon_2.png);
	background-repeat: no-repeat;
}

.icon_3 {
	float: left;
	width: 329px;
	height: 467px;
	background-image: url(../img/icon_3.png);
	background-repeat: no-repeat;
}

.icon_4 {
	float: left;
	width: 380px;
	height: 467px;
	background-image: url(../img/icon_4.png);
	background-repeat: no-repeat;
}

.icon_5 {
	float: left;
	width: 310px;
	height: 467px;
	background-image: url(../img/icon_5.png);
	background-repeat: no-repeat;
}

.icon_6 {
	float: left;
	width: 329px;
	height: 467px;
	background-image: url(../img/icon_6.png);
	background-repeat: no-repeat;
}

.icon_1:hover {
	background-image: url(../img/icon_1shadow.png);
}

.icon_2:hover {
	background-image: url(../img/icon_2shadow.png);
}

.icon_3:hover {
	background-image: url(../img/icon_3shadow.png);
}

.icon_4:hover {
	background-image: url(../img/icon_4shadow.png);
}

.icon_5:hover {
	background-image: url(../img/icon_5shadow.png);
}

.icon_6:hover {
	background-image: url(../img/icon_6shadow.png);
}

.bottom {
	position: absolute;
	top: 200%;
	left: 12%;
	width: 1020px;
	height: 456px;
	background-image: url(../img/bottom.png);
}

.bottom_1 {
	padding-top: 130px;
	padding-left: 80px;
	width: 500px;
	height: 100px;
	background-image: url(../img/bottom.png);
}

.bottom_2 {
	background-image: url(../img/vaskeeen2.png);
	background-repeat: no-repeat;
	width: 450px;
	height: 30px;
	margin: 10px;
}

.bottom_3 {
	background-image: url(../img/freelance3.png);
	background-repeat: no-repeat;
	margin: 10px;
	width: 450px;
	height: 30px;
}

.bottom_4 {
	background-image: url(../img/instagram4.png);
	background-repeat: no-repeat;
	width: 450px;
	height: 30px;
	margin: 10px;
}


